button{
  margin-left: 80px;
  margin-top: 10px;
}
.wrap{
  border: 1px #8B8989;
  border-radius: 5px 10px 4px;;
  border-width: 3px;
  border-style: solid;
  width: 400px;
  height: 500px;
  box-shadow: 10px 10px 10px  #848484;
  margin-left: 500px;
  margin-top: 100px;
  font-family: Times;
}
.btn-success{
  background-color:#50758E;
  border-color: #A4A4A4;
}
.Login{
  margin-top: 30px;
}
label{
  margin-left: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}
.next {
  float: right;
  margin-right: 70px;
}
.is-invalid {
  border-color: red;
}
.red {
  color: red;
}
.black {
  color: #333333;
}

