<!--<div class="wrap">-->
<!--  <div >-->
<!--    <button class="btn-success" (click)="forgot=!forgot" >Đăng nhập</button>-->
<!--    <button class="btn-success" (click)="forgot2=!forgot2">Đăng kí</button>-->
<!--  </div>-->
<!--  <div class="Login">-->
<!--    <form [hidden]="forgot" [formGroup]="formLogin">-->
<!--      <label>-->
<!--        Email:-->
<!--        <input type="text" formControlName="email" [ngClass]="{'is-invalid': submit && f.email.errors}" placeholder="Nhập email của bạn"/>-->
<!--        <div *ngIf="submit && f.email.errors">-->
<!--          <div *ngIf="f.email.errors.required">Email is required</div>-->
<!--          <div *ngIf="f.email.errors.email">Email must be a valid email address</div>-->
<!--        </div>-->
<!--      </label>-->

<!--      <label>-->
<!--        Password:-->
<!--        <input type="password" placeholder="Nhập password" formControlName="pass"-->
<!--               [ngClass]="{'is-invalid':submit && f.pass.errors}"/>-->
<!--        <div *ngIf="submit && f.email.errors" >-->
<!--          <div *ngIf="f.pass.errors.required">Password is required</div>-->
<!--          <div *ngIf="f.pass.errors.minlength">Password must be at least 6 characters</div>-->
<!--        </div>-->
<!--      </label>-->
<!--      <button class="btn-success next" (click)="onSubmit();" type="submit">Next >></button>-->
<!--    </form>-->
<!--&lt;!&ndash;    -&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;-->
<!--    <form [hidden]="forgot2" [formGroup]="formregister">-->
<!--      <label>-->
<!--        Tên Người Dùng:-->
<!--        <input type="text" placeholder="Nhập tên" formControlName="name"-->
<!--               [ngClass]="{'is-invalid':submit && f.name.errors}" [(ngModel)]="username"/>-->
<!--        <p [class]="username.length <3 || username.length >25 ? 'red':' black'" >Email bạn nhập là: {{username}}</p>-->
<!--      </label>-->
<!--      <label>-->
<!--        Giới tính:-->
<!--        <input type="radio" name="gender">Nam-->
<!--        <input type="radio" name="gender">Nữ-->
<!--      </label>-->
<!--      <label>-->
<!--        Email Đăng kí:-->
<!--        <input type="password" placeholder="Nhập password" formControlName="pass"-->
<!--               [ngClass]="{'is-invalid':submit && f.pass.errors}" [(ngModel)]="mail"/>-->
<!--        <p [style.color]="mail.length <3 || mail.length>25? 'red':' black'" >Email bạn nhập là: {{mail}}</p>-->
<!--      </label>-->
<!--      <label>-->
<!--        Password:-->
<!--        <input type="password" placeholder="Nhập password" formControlName="pass"-->
<!--               [ngClass]="{'is-invalid':submit && f.pass.errors}" [(ngModel)]="passw"/>-->
<!--        <p [ngStyle]="passw.length<5 ? tStyle: fstyle">Mật khẩu của bạn phải lớn hơn 5</p>-->
<!--        <button class="btn-success next"  (click)="forgot2=!forgot2" type="submit">Thêm Tài khoản</button>-->
<!--      </label>-->
<!--    </form>-->
<!--  </div>-->
<!--</div>-->
<!--<app-twowaybinding></app-twowaybinding>-->
<!--<app-ng-mang></app-ng-mang>-->

<!--BT ngày 10-11-12-->
<!--<app-ng></app-ng>-->
<!--Bt ngày 13-->
<app-listperson></app-listperson>






































